/* #root {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vw;
  display: block;
}

.header {
  position: fixed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  z-index: 9;
  height: 60px;
  width: 100vw;
  left: 0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  max-width: 1280px;
  min-width: 916px;
}

.spacer {
  height: 60px;
  border: 0;
}

.carousel_container {
  width: 100vw;
  position: absolute;
  left: 0;
  padding: 0 0 10px 0;
} */
